

<html>
<head>
<style>



</style>

<title>ResearchSpace Vis</title>
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<!-- <script src="hclust.min.js"></script> -->
</head>


<body>
  <!-- can be used maybe if necessary   -->
  <!-- <div class="header"></div> -->
  
  <!-- <div class="topnav">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
  </div> -->
  
  <div class="row">
    <div class="column leftside">
      <div id="ccontainer" class="cards-container"> 
        <tt1>Selection
          <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
        </tt1>
      </div>
      <div class="search-container">
        <tt1>Search
          <i class="fa fa-search" aria-hidden="true"></i>
        </tt1>
        <div class="search-form" action="filter_on_search()">
          <form class="example" action="insert">
            <input type="text" id="myInput" onkeyup="filter_on_search()" placeholder="Search..." name="search">
          </form>
        </div>

        <table id="myTable" class="corpustb">
            <tr class="header">
              <th width="10%"></th>
              <th width="10%">Title</th>
              <th width="60%">Authors</th>
              <th width="10%">Year</th>
              <th width="10%">Venue</th>
            </tr>
        </table>

        <table id="myTableB" class="authortb">
          <tr class="header">
            <th width="90%">Author</th>
            <th width="10%">Publications</th>
          </tr>
        </table> 

      </div>
    </div>
    
    <div class="column middle">
      <div class="hex-container">
        <tt1>Layered Projection </tt1><i class="fa-solid fa-layer-group"></i>
        <div id="hex" class="center"> </div>
        <!-- <div id="search-bar">
          <input type="text" placeholder="Search...">
        </div> -->
        <div class="topRightHex overlay">
          <!-- <label>Layer Toggles</label> -->
          <div class="toogle-container">
            
          <div class="layer-toggle" >
            <div class="btn-toggler" id="tlayer">
              <img src="{{ url_for('static', filename='images/layersymbols/t.png') }}" alt="My Button">
            </div>
            <span class="toggle-label">Tracking</span>
          </div>
          <div class="layer-toggle" >
            <div class="btn-toggle" id="hlayer">
              <img src="{{ url_for('static', filename='images/layersymbols/h.png') }}" alt="My Button">
            </div>
            <span class="toggle-label">Selection</span>
          </div>
          <div class="layer-toggle-big" >
            <div class="btn-toggle" id="clayer">
              <img src="{{ url_for('static', filename='images/layersymbols/c.png') }}" alt="My Button">
            </div>
            <div class="inner">
              <span class="toggle-label">Concept</span>
              <div class="slidecontainer">
                <input type="range" id="keywordnumslider" name="cowbell" min="1" max="500" value="20" step="20">
                <label class= "mini-label" for="volume">#Keys</label>
                <!-- <label for="cowbell">#Keys</label> -->
              </div>
            </div>
          </div>
          <div class="layer-toggle-big" >
            <div class="btn-toggle" id="blayer">
              <img src="{{ url_for('static', filename='images/layersymbols/b.png') }}" alt="My Button">
            </div>
            <div class="inner">
              <span class="toggle-label">Binning</span>
              <div class="slidecontainer">
                <input type="range" id="binsizeslider" name="volume" min="0" max="40" step="1">
                <label class= "mini-label" for="volume">Binsize&Group</label>
                <!-- <label class= "mini-label" for="volume">Radius</label> -->
                <label class="switch">
                  <input type="checkbox" id="andorbox">
                  <div class="slider round">
                   <!--ADDED HTML -->
                   <span class="on">AND</span>
                   <span class="off">OR</span>
                   <!--END-->
                  </div>
                 </label>
              </div>
            </div>
          </div>
          <div class="layer-toggle" >
            <div class="btn-toggle" id="nlayer">
              <img src="{{ url_for('static', filename='images/layersymbols/n.png') }}" alt="My Button">
            </div>
            <span class="toggle-label">Network</span>
          </div>
          <div class="layer-toggle" >
            <div class="btn-toggle" id="alayer">
              <img src="{{ url_for('static', filename='images/layersymbols/a.png') }}" alt="My Button">
            </div>
            <span class="toggle-label">Area</span>
          </div>
          <div class="layer-toggle" >
            <div class="btn-toggle" id="rlayer">
              <img src="{{ url_for('static', filename='images/layersymbols/r.png') }}" alt="My Button">
            </div>
            <span class="toggle-label">Related</span>
          </div>
          <div class="layer-toggle" >
            <div class="btn-toggle" id="slayer"> 
              <img src="{{ url_for('static', filename='images/layersymbols/s.png') }}" alt="My Button">
            </div>
            <span class="toggle-label">Seed</span>
          </div>
          <div class="layer-toggle" >
            <div class="btn-toggle" id="ilayer">
              <img src="{{ url_for('static', filename='images/layersymbols/i.png') }}" alt="My Button">
            </div>
            <span class="toggle-label">Input</span>
          </div>
        </div>
        <button class="button" id="deselectButton"> <i class="fa fa-times-circle-o" aria-hidden="true"></i>Clear</button>
       
        </div>


      </div>
      <div id="timeline-down-scale" class="sub">
        <div id="timeline-down" class="full">
         </div>
      </div>
      <!-- <div id="stacks" class="sub left">
        <div id="stack1" class="stack">
          <tt1>Summary </tt1>
          <div style = "width:100%">
		
            <div id="textc1" class="textc" style = "height:50%; width:100%">
            </div>
         
            <div id= "textc2" class="textc" style = "height:50%; width:50%; float:left;">
            </div>
       
            <div id="textc3" class="textc" style = "height:50%; width:50%; float:right;">
            </div>
         
          </div>
        </div>
        <div id="stack2" class="stack">
        </div>
        <div id="stack3" class="stack"></div>
      </div>
      
      <div id="star" class="sub mid">
        <tt1>Impact</tt1>
        <div class="radarChart"></div>
      </div>  
      <div id="network" class="sub right">
        <tt1>Local Network</tt1>
      </div>   -->
    </div>
    
    <div class="column rightside">
      <div class="info-container">

        <div class="infoinner-container">
          <tt1>Information
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </tt1>
        </div>
      </div>
      <div class="bibcard-container">
        <div class="bibcardinner-container">
          <tt1>Collection
            <i class="fa fa-bookmark" aria-hidden="true"></i>
          </tt1>
        </div>
      </div> 

      <button class="btn" style="width:100%">

        <a href="{{ url_for('static', filename='images/layersymbols/collection.bib') }}" download>
          <div src="" alt="bibfile">
            <i class="fa fa-download"></i> Download
        </a>
      </button>

    </div>
  </div>





<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<!-- <script src="{{ url_for('static', filename='node_modules/@greenelab/hclust/src/hclust.js')}}"></script> -->
<script src="{{ url_for('static', filename='js/external/figue.js')}}"></script>
<script src="{{ url_for('static', filename='js/external/color2D.js')}}"></script>
<script src="{{ url_for('static', filename='js/RadarChart.js')}}"></script>

<script src="{{url_for('static', filename='js/data_prep.js')}}"></script>
<script src="{{url_for('static', filename='js/dashboard-network.js')}}"></script> 
<script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
<!-- <script src="{{url_for('static', filename='influvis_update.js')}}"></script>-->
<script type="text/javascript"> myVar = my_Func(JSON.parse('{{ network | tojson }}'),JSON.parse('{{ papers | tojson }}'),JSON.parse('{{ seeds | tojson }}'), JSON.parse('{{ keys | tojson }}'), JSON.parse('{{ key_projections | tojson }}'), JSON.parse('{{ pwk | tojson }}'), JSON.parse('{{ paths | tojson }}'), JSON.parse('{{ authors | tojson }}'))</script>
<!-- <div id="my_dataviz"></div> -->
</body>
</html>